# Email konfigurace pro Účtárna SMTP
SMTP_HOST=smtp.seznam.cz
SMTP_PORT=465
SMTP_USER=info@uctarna.fun
SMTP_PASS=xeQvep-coccec-watza7

# Firebase konfigurace
FIREBASE_PROJECT_ID=prodejni-system-uctarna
